*ipynb_checkpoints
demo/data
release_files
external
utils/bbox_utils.c
utils/build
utils/bbox_utils.so
renderer/blender/bpy
*cachedir*
*.ipynb
*.pyc
pyNb
torchNb
renderer/blender
.timedBar
*Debug*
*.o
*.so
*.nfs000*
.idea
core.*
*sublime*
*.swp
*.vscode
model_final.pkl
